@mixin styleText($fs, $fw, $color) {
    font-size: $fs;
    font-weight: $fw;
    color: $color;
}
// khai báo reponsive
@mixin responsive($sreen) {
    @if map-has-key($map: $breakpoints, $key: $sreen) {
        $value: map-get(
            $map: $breakpoints,
            $key: $sreen,
        );
        @media screen and (max-width: $value) {
            @content;
        }
    } @else {
        @warn "khong tim thay";
    }
}
